<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
<form th:action="@{/notes/{id}(id=${note.id})}" th:object="${note}" th:method="put">
    <div class="modal-body">
        <input type="hidden" id="note-title-hidden" th:field="*{title}">
        <div id="note-title-modal"></div>
        <input type="hidden" id="note-content-hidden" th:field="*{content}">
        <div id="note-content-modal"></div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-dark">Save</button>
    </div>
</form>
</body>

</html>