<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <form th:action="@{/notes/{id}(id=${note.id})}" th:object="${note}" th:method="put">
        <div class="modal-body">
            <input type="text" id="note-title-modal" th:field="*{title}" placeholder="Title" required>
            <textarea id="note-content-modal" rows="10" th:field="*{content}" placeholder="Content" required></textarea>
            <input type="hidden" th:field="*{labelDTO}">
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-dark">Save</button>
        </div>
    </form>
</body>

</html>