<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<form th:action="@{/notes/{id}(id=${note.id})}" th:object="${note}" th:method="put">
    <div class="modal-body">
            <input type="text" id="note-title-modal" th:field="*{title}" placeholder="Title" required>
            <textarea id="note-content-modal" rows="10" th:field="*{content}" placeholder="Content" required></textarea>
        </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-dark">Save</button>
<!--        <button type="button" class="btn btn-secondary" onclick="closeModal()">Cancel</button>-->
    </div>
</form>
</body>
</html>