<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Body Fragment</title>
</head>
<body>
<div th:fragment="bodyFragment">
  <th:block th:replace="layout :: header"></th:block>
  <main class="main-content">
    <div class="note-container">
      <form id="note-form" th:action="@{/notes}" th:object="${note}" th:method="post">
        <div class="note-wrapper" id="note-wrapper">
          <div id="toolbar-container" class="toolbar-hidden"></div>
          <div id="note-title-editor" class="title-container"></div>
          <input type="hidden" id="note-title" th:field="*{title}" required>
          <div id="editor" class="hidden"></div>
          <input type="hidden" contenteditable="true" id="hidden-note-content" th:field="*{content}">
        </div>
      </form>
    </div>
    <div th:replace="fragments/notes-grid :: notes-grid"></div>
    <div id="editModal" class="modal hidden">
      <div class="modal-content">
      </div>
    </div>
  </main>
  <th:block th:replace="layout :: footer"></th:block>
</div>
</body>
</html>