<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Note Card Fragment</title>
</head>
<body>
<div class="grid-item" th:fragment="note-card (note)">
    <div class="card bg-light">
        <div class="card-body"  th:attr="data-note-id=${note.id}" onclick="openModal(this.getAttribute('data-note-id'))" style="cursor: pointer;">
            <h5 class="card-title" th:text="${note.title}"></h5>
            <p class="card-text" th:utext="${note.content}"></p>
        </div>
        <div class="card-footer">
            <div class="dropdown">
                <div class="three-dots-container" id="menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                </div>
                <div class="dropdown-menu" aria-labelledby="menu-button">
                    <a class="dropdown-item" href="#" onclick="deleteNote()">Delete</a>
                    <a class="dropdown-item" href="#" onclick="editNote()">Edit</a>
                    <a class="dropdown-item" href="#" onclick="shareNote()">Share</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>