<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Note Card Fragment</title>
</head>

<body>
<div class="grid-item" th:fragment="note-card (note)">
    <div class="card">
        <div class="card-body" th:attr="note-id=${note.id}" onclick="openModal(this.getAttribute('note-id'))">
            <h5 class="card-title" th:text="${note.title}"></h5>
            <p class="card-text" th:text="${note.content}"></p>
        </div>
        <div class="card-footer">
            <div class="custom-dropdown">
                <button class="custom-dropdown-button" onclick="toggleDropdown(event)"
                        th:text="${note.notebookDTO} ? ${note.notebookDTO.name} : 'Add label'"></button>
                <div class="custom-dropdown-content">
                    <form th:action="@{/labels}" th:object="${label}" th:method="post">
                        <div class="input-container">
                            <input type="text" id="label-name" th:field="*{name}" placeholder="Label name" required>
                            <input type="hidden" name="noteId" th:value="${note.id}">
                            <button type="submit" class="input-submit"
                                    th:text="${note.notebookDTO} ? 'Change' : 'Add'"></button>
                        </div>
                    </form>
                    <form th:action="{/labels/add-note}">

                    </form>
                </div>
            </div>
            <div class="dropdown">
                <div class="three-dots-container" id="menu-button" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false">
                    <img src="img/three_dots_vertical_menu_icon_184615.png" class="three_dots_vertical_menu">
                </div>
                <div class="dropdown-menu" aria-labelledby="menu-button">
                    <form th:action="@{/notes/{id}(id=${note.id})}" th:method="delete">
                        <button class="dropdown-item" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>