<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Body Fragment</title>
</head>
<body>
<div th:fragment="bodyFragment">
    <th:block th:replace="layout :: header"></th:block>
    <main class="main-content">
        <div class="nav-wrapper">
            <nav aria-label="Page navigation" id="page-navigation">
                <ul class="nav-pagination"  >
                    <li class="nav-page-item">
                        <a class="nav-page-link"
                           th:onclick="${sortAndPage.page == 0} ? 'javascript:void(0)' : 'goToPage(0);'"
                           aria-label="First">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${sortAndPage.page > 0}" class="nav-page-item">
                        <div th:replace="fragments/page-list :: nav_item (${sortAndPage.page - 1})"></div>
                    </li>
                    <li class="nav-page-item active">
                        <div th:replace="fragments/page-list :: nav_item (${sortAndPage.page})"></div>
                    </li>
                    <li th:if="${sortAndPage.page + 1 < sortAndPage.totalPages}" class="nav-page-item">
                        <div th:replace="fragments/page-list :: nav_item (${sortAndPage.page + 1})"></div>

                    </li>
                    <li class="nav-page-item">
                        <a class="nav-page-link"
                           th:onclick="${sortAndPage.page == sortAndPage.totalPages - 1} ? 'javascript:void(0)' : 'goToPage(' + (${sortAndPage.totalPages - 1}) + ');'"
                           aria-label="First">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <form id="sortForm" class="sort-form" action="/notes" th:method="get">
                <div class="custom-select">
                    <div class="select-selected" onclick="toggleSelect(event)">
                        <label class="select-wrapper-label">
                            <span class="sorting-select-label">Sorting by:</span>
                            <span class="sorting-value" th:text="${sortAndPage.sort.value}"></span>
                        </label>
                        <input type="hidden" th:name="sort" th:value="${sortAndPage.sort}"/>
                        <div class="select-items select-hide">
                            <div th:each="sortOption : ${sortAndPage.sortOptions}"
                                 th:data-value="${sortOption}"
                                 onclick="selectOption(this)"
                                 th:text="${sortOption.value}"></div>
                        </div>
                    </div>
                </div>
                <label class="custom-label">
                    <input id="sortCheckbox" type="checkbox" name="asc" th:checked="${sortAndPage.asc}"
                           onchange="updateCheckboxLabel()"/>
                    <span id="checkboxLabel" class="custom-checkbox"></span>
                </label>
                <button class="transparent-back-btn" type="submit">Sort</button>
            </form>
        </div>
        <div class="note-container">
            <form id="note-form" th:action="@{/notes}" th:object="${note}" th:method="post">
                <div class="note-wrapper" id="note-wrapper">
                    <input type="text" id="note-title" th:field="*{title}" placeholder="Note Title" required>
                    <input type="hidden" contenteditable="true" id="hidden-note-content" th:field="*{content}">
                </div>
            </form>
        </div>
        <div th:replace="fragments/notes-grid :: notes-grid"></div>
        <div id="editModal" class="modal hidden">
            <div class="modal-content">
            </div>
        </div>
    </main>
    <th:block th:replace="layout :: footer"></th:block>
</div>
</body>
</html>