.custom-dropdown {
    position: relative;
    display: inline-block;
    user-select: none;
    cursor: pointer;
}

.custom-dropdown-button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #f5f5f5;
}

.custom-dropdown-content,
.dropdown-menu {
    min-width: 200px;
    max-width: 200px;
    display: none;
    position: absolute;
    z-index: 1000;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    background-color: #202124;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.375);
    left: 0;

}

.show {
    display: block;
}

.input-container {
    position: relative;
    display: block;
    width: 100%;
}

.exist-labels {
    max-height: 200px;
    overflow: auto;
}

input[name="labelName"] {
    padding-right: 60px;
}


input[type="submit"],
.input-submit,
.dropdown-item {
    color: #f5f5f5;
    display: block;
    width: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    text-align: left;
    padding: 3px 3px;
}


input[type="submit"]:hover,
.input-submit:hover,
.dropdown-item:hover {
    background-color: #5A5A5A;
}

#label-name {
    color: #f5f5f5;
    display: block;
    width: 100%;
    border: none;
    background: transparent;
    cursor: text;
    text-align: left;
    padding: 3px 3px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu.show {
    display: block;
}

