
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: #202124;
}

*::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

body {
    padding-top: 56px;
    background-color: rgba(32, 33, 36, 0.985);
    color: #f5f5f5;
}

.main-content-shifted {
    margin-left: 250px;
    width: calc(100% - 250px);
    transition: margin-left 0.3s ease, width 0.3s ease;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    display: none;
    transition: 0.3s;
}

.nav-sidebar-container {
    position: relative;
    transition: 0.3s;
}

.custom-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #202124;
    height: 56px;
    padding: 0 8px;
    z-index: 1000;
}

.custom-navbar-shadow {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.custom-navbar-border {
    border-bottom: 2px solid #5a5a5a;;
}

.nav-search {
    max-width: 700px;
    height: 44px;
    display: flex;
    align-items: center;
    margin: 0 10px;
    flex-grow: 1;
    background-color: #5a5a5a;
    border-radius: 7px;
}

.nav-search input[type="text"] {
    height: 100%;
    padding: 0;
    border: 0;
    min-width: 60px;
    color: #f5f5f5;
    background-color: transparent;
    flex-grow: 1;
}

#magnifier-btn, #cancel-btn {
    filter: invert(95%);
    margin: 3px 7px;
    height: 38px;
    width: 38px;
    min-width: 38px;
    user-select: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

#magnifier-btn {
    display: flex;
}

#cancel-btn {
    display: none;
}


#cancel-btn:hover, #magnifier-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

#magnifier-btn img, #cancel-btn img {
    height: 20px;
    width: 20px;
}

.nav-search input[type="text"]::placeholder {
    user-select: none;
    color: #f5f5f5;
    line-height: 44px;
}

.nav-search input[type="text"]:focus::placeholder {
    color: #5A5A5A;
}

.nav-search input[type="text"]:focus {
    outline: none;
    color: #202124; /* Change text color to white */
}

.nav-search:focus-within {
    background-color: #ffffff; /* Change background color to white */
}

.nav-search:focus-within #cancel-btn {
    display: flex;
}
.nav-search.focused #cancel-btn {
    display: flex;
}

.nav-search:not(.focused) #magnifier-btn:hover,
.nav-search:not(.focused) #cancel-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

.nav-search:focus-within #magnifier-btn img,
.nav-search:focus-within #cancel-btn img {
    filter: invert(100%); /* Invert image colors */
}

.nav-search.focused #magnifier-btn:hover,
.nav-search.focused #cancel-btn:hover {
    background-color: rgba(100, 100, 100, 0.2);
    border-radius: 50%;
}


.nav-content {
    display: flex;
    align-items: center;
    height: 56px;
    margin: 0 10px;
    justify-content: space-between;
    flex-grow: 1;
}

.nav-content-left, .nav-content-center, .nav-content-right {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .nav-search input[type="text"] {
        width: 100%;
    }
}

#sidebar-btn {
    user-select: none;
    cursor: pointer;
    height: 24px;
    width: 24px;
    padding: 10px;
    box-sizing: content-box;
    vertical-align: sub;
    filter: invert(95%);
}

#sidebar-btn:hover {
    background-color: rgba(90, 90, 90, 0.15);
    border-radius: 50%;
}

#notes-icon {
    user-select: none;
    cursor: pointer;
    height: 44px;
    width: 44px;
    box-sizing: content-box;
    filter: invert(95%);
}

#nav-title {
    cursor: pointer;
    user-select: none;
    font-size: 22px;
    font-weight: bold;
    margin: 0 5px 0 5px;
    position: relative;
    top: -1px;
}

.logout-btn {
    user-select: none;
    background-color: transparent;
    border: none;
    border-radius: 0.375rem;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: rgba(90, 90, 90, 0.15);
}


.sidebar {
    position: fixed;
    width: 250px;
    height: calc(100% - 57px);
    background-color: #202124;
    z-index: 1;
    top: 57px;
    left: -250px;
    overflow-x: hidden;
    transition: left 0.3s ease;
}

.sidebar a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #f5f5f5;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #5A5A5A;
}

.custom-dropdown-content,
.dropdown-menu {
    position: absolute;
    bottom: calc(100%);
}

.card {
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    background-color: #202124;
    border: 2px solid #5a5a5a;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.2);
    transition-duration: 300ms;
}


.card-body {
    max-height: 500px;
    overflow: hidden;
    cursor: pointer;
    color: #f5f5f5;
}

.card-body p {
    margin-top: 0;
    margin-bottom: 0;
}
.card-body img {
    /*max-height: 50px;*/
    max-width: 25%;
    margin-top: 0;
    margin-bottom: 0;
}

.card-title h2 {
    font-size: revert;
}

.btn-dark {
    background-color: #202124
}

.card-footer {
    border-top: none;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-text {
    white-space: pre-wrap;
    color: #f5f5f5;
}


.notes-grid {
    display: grid;
    grid-auto-rows: 200px;
    grid-gap: 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-bottom: 20px;
}

.simplemde-container {
    border: none;
    border-radius: 0;
    margin: 5px 0;
    color: #f5f5f5;
    width: 100%;
    background: transparent;
    overflow: auto;
    resize: none;
}

.simplemde-container * {
    max-width: 100%;
    max-height: 97%;
    overflow: auto;
}

.simplemde-container:focus {
    outline: none;
}

.CodeMirror, .CodeMirror-scroll {
    background-color: transparent !important;
    border: 0 !important;
    height: 320px !important;
    color: #f5f5f5 !important;
}

.editor-toolbar {
    border: 0 !important;
}

/* The following style is for the input field of the title */
#note-title-input {
    height: 40px;
    overflow-y: visible;
    color: #f5f5f5;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    margin: 5px 0;
}

#note-content-modal {
    height: 380px;
    border: none;
    border-radius: 0;
    margin: 5px 0;
    color: #f5f5f5;
    width: 100%;
    background: transparent;
    overflow: auto;
    resize: none;
}


#note-content-modal:focus {
    outline: none;
}

.modal-body {
    padding: 0;
}

.modal-footer {
    border-top: none;
}

.modal-content {
    height: 80vh;
    background-color: #202124;
    margin: 10px;
    position: fixed;
    width: 80%;
    max-width: 835px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal-content form {
    max-height: 100%;

}

.modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}