<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <meta charset="UTF-8"/>
    <style>
        body {
            background-color: #202124;
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
        }
        h1 {
            color: #f44336;
            font-size: xxx-large;
        }
        p {
            color: #f5f5f5;
            font-size: 24px;
        }

        p a {
            color: #f5f5f5;
        }

    </style>
</head>
<body>
<div class="container">
    <h1>Error: <span th:text="${status}">500</span></h1>
    <p>Message: <span th:text="${error}">Internal Server Error</span></p>
    <p><a th:href="@{/notes}">Go to notes</a></p>
</div>
</body>
</html>