<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">

</head>
<body>
<header th:replace="layout :: header"></header>
<div class="container-fluid mt-3">
<main>
    <h1 th:text="${note.id == null ? 'Create Note' : 'Edit Note'}"></h1>
    <form th:action="@{/notes/{id}(id=${note.id})}" th:object="${note}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label for="title">Title:</label>
        <input type="text" th:field="*{title}" id="title" />
        <label for="content">Content:</label>
        <textarea th:field="*{content}" id="content"></textarea>
        <button type="submit">Save</button>
    </form>
</main>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>