<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Labels</title>

    <head th:insert="layout :: head"></head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/note-input.css}">

</head>

<header th:insert="layout :: header"></header>

<div class="note-container">
    <form id="note-form" th:action="@{/notes}" th:object="${note}" th:method="post">
        <div class="note-wrapper" id="note-wrapper">
            <input type="text" id="note-title" th:field="*{title}" placeholder="Note Title" required>
            <input type="hidden" contenteditable="true" id="hidden-note-content" th:field="*{content}">
        </div>
    </form>
</div>
<div class="container-fluid mt-3">

    <th:block th:each="label : ${labels}">
        <a th:href="@{/labels/{name}(name=${label.name})}" th:text="${label.name}"> </a> <br>
    </th:block>
</div>


<script th:src="@{/js/new-note-creation.js}"></script>
</body>

</html>