<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">

<head>
    <title th:text="${title}">Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/three-dots.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/note-input.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/label-dropdown.css}">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
    <script src="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" async></script>
    <script th:src="@{/js/masonry.js}" async></script>
</head>
<body>
<header>
    <div class="overlay" id="overlay"></div>
    <div class="nav-sidebar-container">
        <nav class="custom-navbar custom-navbar-border">
            <div class="nav-content">
                <a class="nav-link" href="#" id="labels-btn">Sidebar</a>
            </div>
            <form class="nav-search" action="/notes/search" th:method="get">
                <input type="text" name="keyword" placeholder="Search">
                <button type="submit" class="btn btn-dark">Search</button>
            </form>
        </nav>
        <div class="sidebar" id="sidebar">
            <a class="nav-link" th:href="@{/notes}">Notes</a>
            <th:block th:each="label : ${labels}">
                <a th:href="@{/labels/{name}(name=${label.name})}" th:text="${label.name}"> </a>
            </th:block>
        </div>
    </div>
</header>
</body>
<footer>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/nav-and-sidebar.js}" async></script>
    <script th:src="@{/js/edit-modal.js}" defer></script>
    <script th:src="@{/js/card-footer-menu.js}" defer></script>
    <script th:src="@{/js/new-note-creation.js}" defer></script>
    <script th:src="@{/js/quillEditors.js}" async></script>
</footer>
</html>

<!--<footer class="bg-light py-3 mt-auto">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col text-center">-->
<!--                <p class="mb-0">&copy; 2023 YourApp. All rights reserved.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->