<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <head th:replace="layout :: head"></head>
    <link rel="stylesheet" type="text/css" href="css/three-dots.css">
    <script src="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
    <script th:src="@{/js/mansory-init.js}"></script>
</head>
<body onload="initMasonry();">
<header th:replace="layout :: header"></header>

<div class="d-grid gap-2">
    <a class="btn btn-primary" href="/notes/new">Create a new note</a>
</div>
<div class="container-fluid mt-3">
    <div class="notes-grid">
        <th:block th:each="note : ${notes}">
            <div th:replace="fragments/note-card :: note-card (note=${note})"></div>
        </th:block>
    </div>
</div>
<div id="editModal" class="modal hidden">
    <div class="modal-content">
    </div>
</div>
<script th:src="@{/js/scripts.js}"></script>
<script th:src="@{/js/card-footer-menu.js}"></script>
</body>
</html>
